<!doctype html>
<html>
<head>
    <app-header></app-header>


</head>


<body>



<app-alert></app-alert>
<div class="wrapper">


    <div class="sidebar" data-color='blue' data-image="">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background">

        </div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet>
        </router-outlet>
        <!--<div *ngIf="isMaps('maps')">-->
        <!--<app-footer></app-footer>-->
        <!--</div>-->
    </div>
</div>




</body>

<!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->

</html>


