@font-face {
	font-family: 'CarrdIcons';
	src:
		url('CarrdIcons.ttf?mgny86') format('truetype'),
		url('CarrdIcons.woff?mgny86') format('woff'),
		url('CarrdIcons.svg?mgny86#CarrdIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon:before {
	font-family: 'CarrdIcons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-snapchat:before {
	content: "\e900";
}
.icon-email-alt:before {
	content: "\e901";
}
.icon-home:before {
	content: "\e902";
}
.icon-location:before {
	content: "\e903";
}
.icon-phone:before {
	content: "\e904";
}
.icon-twitter:before {
	content: "\e905";
}
.icon-mail:before {
	content: "\e905";
}
.icon-facebook:before {
	content: "\e906";
}
.icon-github:before {
	content: "\e907";
}
.icon-pinterest:before {
	content: "\e908";
}
.icon-google-plus:before {
	content: "\e909";
}
.icon-email:before {
	content: "\e90a";
}
.icon-linkedin:before {
	content: "\e90b";
}
.icon-mobile:before {
	content: "\e90c";
}
.icon-youtube:before {
	content: "\e90d";
}
.icon-xing:before {
	content: "\e90e";
}
.icon-stack-overflow:before {
	content: "\e90f";
}
.icon-instagram:before {
	content: "\e910";
}
.icon-flickr:before {
	content: "\e911";
}
.icon-bitbucket:before {
	content: "\e912";
}
.icon-tumblr:before {
	content: "\e913";
}
.icon-dribbble:before {
	content: "\e914";
}
.icon-skype:before {
	content: "\e915";
}
.icon-foursquare:before {
	content: "\e916";
}
.icon-vk:before {
	content: "\e917";
}
.icon-weibo:before {
	content: "\e918";
}
.icon-renren:before {
	content: "\e919";
}
.icon-stack-exchange:before {
	content: "\e91a";
}
.icon-slack:before {
	content: "\e91b";
}
.icon-wordpress:before {
	content: "\e91c";
}
.icon-stumbleupon:before {
	content: "\e91d";
}
.icon-delicious:before {
	content: "\e91e";
}
.icon-periscope:before {
	content: "\e91f";
}
.icon-unsplash:before {
	content: "\e920";
}
.icon-fax:before {
	content: "\e921";
}
.icon-behance:before {
	content: "\e922";
}
.icon-steam:before {
	content: "\e923";
}
.icon-spotify:before {
	content: "\e924";
}
.icon-deviantart:before {
	content: "\e925";
}
.icon-soundcloud:before {
	content: "\e926";
}
.icon-vine:before {
	content: "\e927";
}
.icon-codepen:before {
	content: "\e928";
}
.icon-jsfiddle:before {
	content: "\e929";
}
.icon-hacker-news:before {
	content: "\e92a";
}
.icon-tencent-weibo:before {
	content: "\e92b";
}
.icon-qq:before {
	content: "\e92c";
}
.icon-wechat:before {
	content: "\e92d";
}
.icon-slideshare:before {
	content: "\e92e";
}
.icon-twitch:before {
	content: "\e92f";
}
.icon-yelp:before {
	content: "\e930";
}
.icon-lastfm:before {
	content: "\e931";
}
.icon-angellist:before {
	content: "\e932";
}
.icon-leanpub:before {
	content: "\e933";
}
.icon-whatsapp:before {
	content: "\e934";
}
.icon-medium:before {
	content: "\e935";
}
.icon-y-combinator:before {
	content: "\e936";
}
.icon-tripadvisor:before {
	content: "\e937";
}
.icon-odnoklassniki:before {
	content: "\e938";
}
.icon-500px:before {
	content: "\e939";
}
.icon-houzz:before {
	content: "\e93a";
}
.icon-vimeo:before {
	content: "\e93b";
}
.icon-reddit:before {
	content: "\e93c";
}
.icon-bandcamp:before {
    content: "\e93d";
}
.icon-beme:before {
    content: "\e93e";
}
.icon-discord:before {
    content: "\e93f";
}
.icon-strava:before {
    content: "\e940";
}
.icon-quora:before {
    content: "\e941";
}
.icon-drupal:before {
    content: "\e942";
}
.icon-hitbox:before {
    content: "\e943";
}
.icon-telegram:before {
    content: "\e944";
}
.icon-artstation:before {
    content: "\e945";
}
.icon-blogger:before {
    content: "\e946";
}
.icon-cc:before {
    content: "\e947";
}
.icon-codecamp:before {
    content: "\e948";
}
.icon-etsy:before {
    content: "\e949";
}
.icon-goodreads:before {
    content: "\e94a";
}
.icon-imdb:before {
    content: "\e94b";
}
.icon-meetup:before {
    content: "\e94c";
}
.icon-patreon:before {
    content: "\e94d";
}
.icon-teamspeak:before {
    content: "\e94e";
}
.icon-viadeo:before {
    content: "\e94f";
}
.icon-document-alt:before {
    content: "\e950";
}
.icon-document:before {
    content: "\e951";
}
.icon-android:before {
    content: "\e952";
}
.icon-linux:before {
    content: "\e953";
}
.icon-windows:before {
    content: "\e954";
}
.icon-apple:before {
    content: "\e955";
}
.icon-producthunt:before {
    content: "\e956";
}
.icon-google-scholar:before {
    content: "\e957";
}
.icon-researchgate:before {
    content: "\e958";
}
.icon-hackaday:before {
    content: "\e959";
}