@font-face {
    font-family: 'Copperplate Gothic Bold';
    src: url('Copperplate Gothic Bold Regular.eot'); /* IE9 Compat Modes */
    src: url('Copperplate Gothic Bold Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('Copperplate Gothic Bold Regular.woff') format('woff'), /* Modern Browsers */
    url('Copperplate Gothic Bold Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('Copperplate Gothic Bold Regular.svg#d64f3daf40b0ba0e6d48e65e93c56ecd') format('svg'); /* Legacy iOS */

    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Clio XS Light';
    src: url('XlioXSLightLight.eot'); /* IE9 Compat Modes */
    src: url('XlioXSLightLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('XlioXSLightLight.woff') format('woff'), /* Modern Browsers */
    url('XlioXSLightLight.ttf') format('truetype'), /* Safari, Android, iOS */
    url('XlioXSLightLight.svg#3e8dada5471ee6fd3392e02606625798') format('svg'); /* Legacy iOS */

    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: 'Clio XS Semi Bold';
    src: url('XlioXSSemiBoldSemiBold.eot'); /* IE9 Compat Modes */
    src: url('XlioXSSemiBoldSemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('XlioXSSemiBoldSemiBold.woff') format('woff'), /* Modern Browsers */
    url('XlioXSSemiBoldSemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('XlioXSSemiBoldSemiBold.svg#472214edd6c1a3d0e266e137d3b2da80') format('svg'); /* Legacy iOS */

    font-style: normal;
    font-weight: 700;
}


@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 200;
    src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEMbjGELOEJD5J8DUmxkO-A.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGMw1o1eFRj7wYC6JbISqOjY.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGNNE-IuDiR70wI4zXaKqWCM.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGLsbIrGiHa6JIepkyt5c0A0.ttf) format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGBPPOa1q11iOmmM9mDHHHX4.ttf) format('truetype');
}


