/**
 * centering with absolute position
 */

.form_ h1{

  color: white;
  position: absolute;
  text-shadow: rgba(45, 45, 45, 0.4) 1px 1px 1px;
  font-size: 2em;
  /* text-align: left; */
  /* margin-right: 252px; */
  width: 400px;
  left: 20px;

}


.logedIn .slides{
  width: 210%;
  margin-left: -11%;
}

.slide .form_{
  opacity: 0;
  /* -webkit-transform: skewX(5deg); */
  /* transform: skewX(5deg); */
  top: 40%;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  text-align: left;

}
.slide.in .form_ {
  -webkit-transition: all ease 1s 1s;
  transition: all ease 1s 1s;
  opacity: 1 !important;

}

.element_menu_ul li{
  opacity: 0;
  height: 76px;
  background-color: rgba(100, 100, 100, 0.2);
  width: 400px;
  border-radius: 40px;
  border: 12px solid rgba(0,100,0,0.1);
  text-align: left;
  padding-left: 127px;
  list-style: none;
  margin-bottom: 2px;
  margin-left: -150px;

}

.slide.in .element_menu_ul li:hover{
  background-color: rgba(100,100,100,0.7);
  animation-delay: 0.1s;
  transition-delay: 0.1s;
  transition: background-color ease 0.1s 0.1s !important;

}
.slide.in .element_menu_ul li{
  /* -webkit-transition: all ease 1s; */
  transition: all ease;
  /* -webkit-transition-delay: 2s; */
  /* transition-delay: 2s; */
  /* -webkit-animation-delay: 2s; */
  /* animation-delay: 2s; */
  opacity: 1 !important;
}

.slidex{
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  position:absolute;
  overflow-x:hidden;
  overflow-y:hidden;
  margin-left:0px;
  margin-right:0px;

}
.slides {

  overflow:hidden;
  width: 190%; /*   This is were we set slides width */
  height: 100%;
  position: absolute;
  margin-left: -25%;

}





.slides img{
  transform: scale(0.33) skewX(5deg);
  top:50px;


}
.slides a{
  text-decoration:none;
}
.slides .slide .opis{

  font-family: "Lato";
  text-align: right;
  font-weight: 100;
  opacity: 0;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  transform: scale(2) skewX(5deg);
  position: absolute;
  text-decoration: none;
  width: 200px;
  margin-left: 60px;
  line-height: 24px;
  transition: all ease 0.7s;
  bottom: 46px;
  margin-left: -120px;

}
.slides .slide:hover .opis{
  opacity:1;

}

div.slide {
  border-left: 10px solid rgba(0,0,0,0.2);
  margin-left: -10px;
  background-size: cover;
  top:0px;
  left:200%;
  text-align: center;
  width: 0%;

  height: 100%;
  float: left;
  position: absolute;
  background-color: rgba(10, 10, 10, 0.9);
  -ms-transform: skewX(-5deg);
  -webkit-transform: skewX(-5deg);
  transform: skewX(-5deg);
  transition: opacity ease 0.9s;
  transition: top ease 0.5s;
  opacity: 0;
  overflow:hidden;
}
div.slide.in {
  top:0px;
  left:auto;
  text-align: center;
  width: 20%;
  height: 100%;
  float: left;
  position: relative;
  background-color: rgba(10, 10, 10, 0.9);
  -ms-transform: skewX(-5deg);
  -webkit-transform: skewX(-5deg);
  transform: skewX(-5deg);
  transition: all ease 0.5s;
  opacity: 0.9;


}
div.slide.in:hover{
  opacity:1;
}

div.slide.first .back_g {
  background-image: url(http://londonvitotaxi.co.uk/wp-content/uploads/2014/05/Untitled-1.png);
}


div.slide.o1 .back_g{
  background-image: url("http://www.slidesjs.com/examples/callbacks/img/example-slide-1.jpg");
}

div.slide.o2 .back_g{
  background-image: url("http://www.slidesjs.com/examples/callbacks/img/example-slide-2.jpg");
}

div.slide.o3 .back_g{
  background-image: url("http://www.slidesjs.com/examples/callbacks/img/example-slide-4.jpg");
}

div.slide.last .back_g{
  background-image: url("http://www.tsquared.gr/media/about/2.jpg");
}

div.slide .back_g{
  width: 100%;
  position: absolute;
  height: 100%;
  -ms-transform: skewX(5deg);
  -webkit-transform: skewX(5deg);
  transform: skewX(5deg);
  width: 150%;
  left: -20%;
  background-size:cover;
}

.button-client-start{
  width: 100%;
  background-color: rgba(10,10,10,0.2);
  padding: 11px;
  border-radius: 27px;
  font-size: 20px;
  margin-top: 5px;
  color: rgba(250,250,250,0.99);
  font-weight: bolder;
  position: absolute;

}