<br>
<br>
<br>

<div class="container">
    <div class="row">

        <div class="col-lg-6 col-md-12">
            <div class="card card-form">
                <div class="card-header card-header-text" data-background-color="orange">
                    <h4 class="card-title">Dodaj pracownika recepcji</h4>
                    <p class="category"></p>
                </div>

                <div class="card-content">


                    <div class="col-lg-7 col-md-7">


                        <form #formAddUser="ngForm">


                            <div class="form-group form-black">
                                <label class="control-label">Nazwa użytkownika</label>
                                <input type="text" class="form-control" name="username" id="username"
                                       [(ngModel)]="userAddModel.username" #username="ngModel" required/>

                                <div *ngIf="username.invalid && (username.dirty || username.touched)"
                                     class="alert alert-danger alert-mini">

                                    <div *ngIf="username.errors.required">
                                        Nazwa użytkownika wymagana
                                    </div>
                                    <div *ngIf="username.errors.minlength">
                                        Nazwa użytkownika - minimum 6 znaków
                                    </div>
                                </div>
                            </div>


                            <div class="form-group form-black">
                                <label class="control-label">Hasło</label>
                                <input type="password" class="form-control" name="password" id="password"
                                       [(ngModel)]="userAddModel.password" #password="ngModel" required/>


                                <div *ngIf="password.invalid && (password.dirty || password.touched)"
                                     class="alert alert-danger alert-mini">

                                    <div *ngIf="password.errors.required">
                                        Hasło wymagane
                                    </div>
                                    <div *ngIf="password.errors.minlength">
                                        Minimum 6 znaków
                                    </div>
                                </div>

                            </div>

                            <div class="form-group form-black">
                                <label class="control-label">Imię</label>
                                <input type="text" class="form-control" name="firstName" id="firstName"
                                       [(ngModel)]="userAddModel.firstName" #firstName="ngModel" required/>

                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                     class="alert alert-danger alert-mini">

                                    <div *ngIf="firstName.errors.required">
                                        Imię wymagane
                                    </div>
                                    <div *ngIf="firstName.errors.minlength">
                                        Minimum 6 znaków
                                    </div>
                                </div>

                            </div>

                            <div class="form-group form-black">
                                <label class="control-label">Nazwisko</label>
                                <input type="text" class="form-control" name="lastName" id="lastName"
                                       [(ngModel)]="userAddModel.lastName" #lastName="ngModel" required/>

                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                     class="alert alert-danger alert-mini">

                                    <div *ngIf="lastName.errors.required">
                                        Nazwisko wymagane
                                    </div>
                                </div>

                            </div>

                            <div class="form-group form-black">
                                <label class="control-label">Adres e-mail</label>
                                <input type="email" class="form-control" name="email" id="email"
                                       [(ngModel)]="userAddModel.email" #email="ngModel" required ngModel email="true"/>

                                <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                     class="alert alert-danger alert-mini">

                                    <div *ngIf="email.errors.required">
                                        Hasło wymagane
                                    </div>
                                    <div *ngIf="email.errors.email">
                                       Musi byc poprawnym adresem email
                                    </div>
                                </div>

                            </div>


                            <div class="form-group form-black label-floating ">
                                <label>Recepcja</label>



                                <select name="hotelID" class="form-control"
                                        [(ngModel)]="userAddModel.hotelID"
                                        #hotelID="ngModel"
                                        required
                                    >

                                    <option *ngFor="let hotele of hoteleAdmina" [value]="hotele._id" >{{hotele.name}}
                                    </option>
                                </select>

                                <div *ngIf="hotelID.invalid && (hotelID.dirty || hotelID.touched)"
                                     class="alert alert-danger alert-mini">

                                    <div *ngIf="hotelID.errors.required">
                                        Wybierz recepcję do której przypisany jest użytkownik.
                                    </div>

                                </div>

                            </div>

                            <button  class="btn-danger btn" type="button" (click)="addUser(formAddUser)">Dodaj
                            </button>

                            <button  class="btn-danger btn pull-right" type="button" (click)="back()">Wróć
                            </button>



                        </form>


                    </div>


                </div>


            </div>
        </div>
    </div>
</div>
