<div class="main-content">
  <p *ngIf="alert" class="alert alert-danger ">
    <strong>{{alert}}</strong>
  </p>

  <div class="container-fluid">
   <a routerLink="/app/dashboard/users/add" style="color: black;"><i class="material-icons">add_circle</i>
   </a>

     <br>

  </div>


  <div class="container-fluid">
    <div class="row">

      <!--USERS VERIFIED-->

      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Użytkownicy zweryfikowani</h4>
            <p class="category"></p>
          </div>
          <div class="card-content table-responsive">


            <table class="table">

              <thead class="text-danger">
              <tr>
                <th>Imie Nazwisko</th>
                <th>Username</th>
                <th>Rola</th>
                <th>Zweryfikowany</th>
                <th>Czynności</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let user of usersVerified">

                <td>{{user.firstName + ' ' +user.lastName}}</td>
                <td>{{user.username}}</td>
                <td>{{user.role}}</td>
                <td>{{user.valid}}</td>
                <td>
                  <a
                          class="btn-sm btn-default"
                          mwlConfirmationPopover
                          [title]="title"
                          popoverMessage="Usunąć użytkownika {{user.firstName + ' ' +user.lastName}}?"
                          placement="left"
                          confirmText="Tak"
                          cancelText="Nie"
                          (confirm)="delUser(user._id,this)"
                          (cancel)="alert = 'anulowano'">
                    Usuń
                  </a>
                  <a
                          class="btn-sm btn-default"
                          mwlConfirmationPopover
                          [title]="title"
                          popoverMessage="Edytcja - to do {{user.firstName + ' ' +user.lastName}}?"
                          placement="left"
                          confirmText="Tak"
                          cancelText="Nie"
                          (confirm)="delUser(user._id,this)"
                          (cancel)="alert = 'anulowano'">
                    Edycja
                  </a>


                </td>
              </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>

      <!--USERS NOT VERIFIED-->

      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Nie zweryfikowani</h4>
            <p class="category">Wymagają zatwierdzenia</p>
          </div>
          <div class="card-content table-responsive">


            <table class="table">

              <thead class="text-danger">
              <tr>
                <th>Nazwa</th>
                <th>Rola</th>
                <th>Zweryfikowany</th>
                <th>Czynności</th>
              </tr>
              </thead>

              <tbody>
              <tr *ngFor="let user of usersNotVerified">

                <td>{{user.firstName + ' ' +user.lastName}}</td>
                <td>{{user.role}}</td>
                <td>{{user.valid}}</td>
                <td>
                  <a
                          class="btn-sm btn-default"
                          mwlConfirmationPopover
                          [title]="title"
                          popoverMessage="Usunąć użytkownika {{user.firstName + ' ' +user.lastName}}?"
                          placement="left"
                          confirmText="Tak"
                          cancelText="Nie"
                          (confirm)="delUser(user._id,this)"
                          (cancel)="alert = 'anulowano'">
                    Usuń
                  </a>
                  <a
                          class="btn-sm btn-default"
                          mwlConfirmationPopover
                          [title]="title"
                          popoverMessage="Zatwierdzić użytkownika {{user.firstName + ' ' +user.lastName}}?"
                          placement="left"
                          confirmText="Tak"
                          cancelText="Nie"
                          (confirm)="verifyUser(user._id,this)"
                          (cancel)="alert = 'anulowano'">
                    Zatwierdź
                  </a>
                </td>
              </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>



      <!--<div class="col-md-12">-->
            <!--<div class="card">-->
              <!--<div class="card-header" data-background-color="red">-->
                <!--<h4 class="title">Simple Table</h4>-->
                <!--<p class="category">Here is a subtitle for this table</p>-->
              <!--</div>-->
              <!--<div class="card-content table-responsive">-->
                <!--<table class="table">-->
                  <!--<thead class="text-danger">-->
                  <!--<tr>-->
                    <!--<th>Name</th>-->
                    <!--<th>Country</th>-->
                    <!--<th>City</th>-->
                    <!--<th>Salary</th>-->
                  <!--</tr>-->
                  <!--</thead>-->
                  <!--<tbody>-->
                  <!--<tr>-->
                    <!--<td>Dakota Rice</td>-->
                    <!--<td>Niger</td>-->
                    <!--<td>Oud-Turnhout</td>-->
                    <!--<td class="text-danger">$36,738</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>Minerva Hooper</td>-->
                    <!--<td>Curaçao</td>-->
                    <!--<td>Sinaai-Waas</td>-->
                    <!--<td class="text-danger">$23,789</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>Sage Rodriguez</td>-->
                    <!--<td>Netherlands</td>-->
                    <!--<td>Baileux</td>-->
                    <!--<td class="text-danger">$56,142</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>Philip Chaney</td>-->
                    <!--<td>Korea, South</td>-->
                    <!--<td>Overland Park</td>-->
                    <!--<td class="text-danger">$38,735</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>Doris Greene</td>-->
                    <!--<td>Malawi</td>-->
                    <!--<td>Feldkirchen in Kärnten</td>-->
                    <!--<td class="text-danger">$63,542</td>-->
                  <!--</tr>-->
                  <!--<tr>-->
                    <!--<td>Mason Porter</td>-->
                    <!--<td>Chile</td>-->
                    <!--<td>Gloucester</td>-->
                    <!--<td class="text-danger">$78,615</td>-->
                  <!--</tr>-->
                  <!--</tbody>-->
                <!--</table>-->

              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

      <!--<div class="col-md-12">-->
        <!--<div class="card card-plain">-->
          <!--<div class="card-header" data-background-color="red">-->
            <!--<h4 class="title">Table on Plain Background</h4>-->
            <!--<p class="category">Here is a subtitle for this table</p>-->
          <!--</div>-->
          <!--<div class="card-content table-responsive">-->
            <!--<table class="table table-hover">-->
              <!--<thead>-->
              <!--<tr>-->
                <!--<th>ID</th>-->
                <!--<th>Name</th>-->
                <!--<th>Salary</th>-->
                <!--<th>Country</th>-->
                <!--<th>City</th>-->
              <!--</tr>-->
              <!--</thead>-->
              <!--<tbody>-->
              <!--<tr>-->
                <!--<td>1</td>-->
                <!--<td>Dakota Rice</td>-->
                <!--<td>$36,738</td>-->
                <!--<td>Niger</td>-->
                <!--<td>Oud-Turnhout</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>2</td>-->
                <!--<td>Minerva Hooper</td>-->
                <!--<td>$23,789</td>-->
                <!--<td>Curaçao</td>-->
                <!--<td>Sinaai-Waas</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>3</td>-->
                <!--<td>Sage Rodriguez</td>-->
                <!--<td>$56,142</td>-->
                <!--<td>Netherlands</td>-->
                <!--<td>Baileux</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>4</td>-->
                <!--<td>Philip Chaney</td>-->
                <!--<td>$38,735</td>-->
                <!--<td>Korea, South</td>-->
                <!--<td>Overland Park</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>5</td>-->
                <!--<td>Doris Greene</td>-->
                <!--<td>$63,542</td>-->
                <!--<td>Malawi</td>-->
                <!--<td>Feldkirchen in Kärnten</td>-->
              <!--</tr>-->
              <!--<tr>-->
                <!--<td>6</td>-->
                <!--<td>Mason Porter</td>-->
                <!--<td>$78,615</td>-->
                <!--<td>Chile</td>-->
                <!--<td>Gloucester</td>-->
              <!--</tr>-->
              <!--</tbody>-->
            <!--</table>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>

