<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Edycja profilu</h4>
                    <p class="category">Uzupełnij profil</p>
                </div>


                <div class="card-content">
                    <form #userForm="ngForm" (ngSubmit)="userUpdateForm(userForm.form);">
                        <div class="row">




                            <div class="col-md-6">
                                <div class="form-group form-black">
                                    <label class="control-label">Nazwa użytkownika</label>
                                    <input
                                            type="text"
                                            name="username"
                                            class="form-control"
                                            disabled
                                            ngModel="{{currentUser.username}}"
                                    >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black">
                                    <label class="control-label">Adres email</label>
                                    <input
                                            type="email"
                                            name="email"
                                            class="form-control"
                                            required
                                            ngModel="{{currentUser.email}}"
                                    >
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating">
                                    <label class="control-label">Imie</label>
                                    <input
                                            type="text"
                                            name="firstName"
                                            class="form-control"
                                            ngModel="{{currentUser.firstName}}"

                                    >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-black label-floating ">
                                    <label class="control-label">Nazwisko</label>
                                    <input
                                            type="text"
                                            name="lastName"
                                            class="form-control"
                                            ngModel="{{currentUser.lastName}}"
                                            ngModel
                                            #nameField="ngModel"
                                    >
                                </div>
                            </div>
                        </div>



                        <br><br>
                        <hr class="form-red">
                        <div *ngIf="currentUser.role == 'admin'">


                            <br><br>
                            <h4>Zawansowane</h4>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating ">
                                            <label>Uprawnienia</label>

                                            <select name="role" class="form-control"
                                                    ngModel="{{currentUser.role}}"
                                                    ngModel
                                                    #nameField="ngModel"
                                            >

                                            <option *ngFor="let rolex of roleAdmin" [value]="rolex.id">{{rolex.name}}</option>
                                            </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group form-black label-floating ">
                                        <label>Hotel</label>

                                        <select name="role" class="form-control" >

                                            <option *ngFor="let rolex of roleAdmin" [value]="rolex.id">{{rolex.name}}</option>
                                        </select>
                                    </div>
                                </div>

                            </div>



                        </div>


                        <!--<div class="row">-->

                            <!--<div class="col-md-4">-->
                                <!--<div class="form-group form-black label-floating is-empty">-->
                                    <!--<label class="control-label">Country</label>-->
                                    <!--<input type="text" class="form-control" >-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-4">-->
                                <!--<div class="form-group form-black label-floating is-empty">-->
                                    <!--<label class="control-label">Postal Code</label>-->
                                    <!--<input type="text" class="form-control" >-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                                <!--<div class="form-group">-->
                                    <!--<label>About Me</label>-->
                                    <!--<div class="form-group form-black label-floating is-empty">-->
                                        <!--<label class="control-label"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>-->
                                        <!--<textarea class="form-control" rows="5"></textarea>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <button id="submit" type="submit" class="btn btn-danger pull-right">Zapisz dane</button>
                        <div class="clearfix"></div>

                        <!--<image-upload-->
                                <!--url="http://laravel.linuxpl.info:3001/api/upload"-->
<!--&gt;-->
                        <!--</image-upload>-->


                        <div class="form-group">
                            <label for="file">Wybierz zdjęcie profilowe</label>
                            <input type="file"
                                   id="file"
                                   (change)="handleFileInput($event.target.files)">
                        </div>


                    </form>




                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">


                <div class="card-avatar">
                        <img class="img" src='{{currentUser.image}}' />


                    </div>

                <div class="content">
                    <h6 class="category text-gray">CEO / Co-Founder</h6>
                    <h4 class="card-title">{{currentUser.firstName+" "+currentUser.lastName}}</h4>
                    <p class="card-content">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>
                    <button (click)="log()" class="btn btn-danger btn-round"></button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
