
.mobile{
font-family: 'DRNormal';
color: #c6baa7;
font-size: 2em ;
}
a.mobile{
    font-family: 'DRNormal';
    color: #c6baa7 !important;
    font-size: 1.7em;
    width: auto !important;
}
.mobile span{
font-size: 0.6em;

vertical-align: middle;
margin-top: 12px !important;
}


.st0a{fill:#FFFFFF;margin-right: 120px;}
.st1a{fill:#FFFFFF;stroke:#000000;stroke-width:1.085;stroke-miterlimit:10;}
.st2a{fill:#2B1710;stroke:#FFFFFF;stroke-width:1.085;stroke-miterlimit:10;}
.st0{fill:#C6BAA7;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display:block;
}

body {
	line-height:1;
}

ol,ul {
	list-style:none;
}

blockquote,q {
	quotes:none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content:'';
	content:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

body {
	-webkit-text-size-adjust:none;
}

input::-moz-focus-inner {
	border:0;
	padding:0;
}

input,select,textarea {
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
	appearance:none;
}

*,:before,:after {
	box-sizing:border-box;
}

html {
	height:100%;
	overflow:hidden;
	font-size:18pt;
}

body {
	min-width:320px;
	line-height:1;
	height:100%;
	word-wrap:break-word;
	overflow-x:hidden;
	-webkit-overflow-scrolling:touch;
	background-image:linear-gradient(to top,rgba(0,0,0,0.722),rgba(0,0,0,0.722)),url('../home/back.png');
	background-position:10% 100%,top center;
	background-repeat:repeat,repeat;
	background-size:auto,cover;
	background-attachment:fixed;
	background-color:#FFF;
}

strong {
	color:inherit;
	font-weight:bolder;
}

em {
	font-style:italic;
}

a {
	-moz-transition:color .25s ease,background-color .25s ease,border-color .25s ease;
	-webkit-transition:color .25s ease,background-color .25s ease,border-color .25s ease;
	-ms-transition:color .25s ease,background-color .25s ease,border-color .25s ease;
	transition:color .25s ease,background-color .25s ease,border-color .25s ease;
	color:inherit;
	text-decoration:underline;
}

#wrapper {
	-webkit-overflow-scrolling:touch;
	display:-moz-flex;
	display:-webkit-flex;
	display:-ms-flex;
	display:flex;
	-moz-flex-direction:column;
	-webkit-flex-direction:column;
	-ms-flex-direction:column;
	flex-direction:column;
	-moz-align-items:flex-end;
	-webkit-align-items:flex-end;
	-ms-align-items:flex-end;
	align-items:flex-end;
	-moz-justify-content:center;
	-webkit-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
	min-height:100%;
	position:relative;
	z-index:1;
}

#main {
	display:-moz-flex;
	display:-webkit-flex;
	display:-ms-flex;
	display:flex;
	position:relative;
	max-width:100%;
	z-index:1;
	-moz-align-items:center;
	-webkit-align-items:center;
	-ms-align-items:center;
	align-items:center;
	-moz-justify-content:center;
	-webkit-justify-content:center;
	-ms-justify-content:center;
	justify-content:center;
	text-align:right;
	-moz-transition:all 1.875s ease 0;
	-webkit-transition:all 1.875s ease 0;
	-ms-transition:all 1.875s ease 0;
	transition:all 1.875s ease 0;
}

#main > .inner {
	overflow-x:hidden;
	width:44rem;
	max-width:100%;
	padding:3.90625rem 3.125rem;
}

#main > .inner > * {
	margin:1.125rem 0;
	-moz-transition:opacity 2s ease-in-out 0;
	-webkit-transition:opacity 2s ease-in-out 0;
	-ms-transition:opacity 2s ease-in-out 0;
	transition:opacity 2s ease-in-out 0;
}

#main > .inner > :first-child {
	margin-top:0!important;
}

#main > .inner > :last-child {
	margin-bottom:0!important;
}

#main > .inner > .image {
	margin:1.40625rem 0;
}

#main > .inner > .video {
	margin:1.40625rem 0;
}

body.is-loading #main {
	opacity:0;
	-moz-transform:translateX(1.5rem);
	-webkit-transform:translateX(1.5rem);
	-ms-transform:translateX(1.5rem);
	transform:translateX(1.5rem);
}

body.is-loading #main > .inner > * {
	opacity:0;
}

#main > .inner > :nth-child(2) {
	-moz-transition-delay:.375s;
	-webkit-transition-delay:.375s;
	-ms-transition-delay:.375s;
	transition-delay:.375s;
}

#main > .inner > :nth-child(3) {
	-moz-transition-delay:.75s;
	-webkit-transition-delay:.75s;
	-ms-transition-delay:.75s;
	transition-delay:.75s;
}

#main > .inner > :nth-child(4) {
	-moz-transition-delay:1.125s;
	-webkit-transition-delay:1.125s;
	-ms-transition-delay:1.125s;
	transition-delay:1.125s;
}

#credits {
	cursor:default;
	margin-top:1rem!important;
	width:-moz-max-content;
	width:-webkit-max-content;
	width:-ms-max-content;
	width:max-content;
	margin-left:auto!important;
	color:rgba(255,255,255,0.671);
	font-family:'Source Sans Pro';
	position:relative;
	letter-spacing:.05rem;
	right:-.05rem;
	font-size:.8em;
	line-height:1.675;
	font-weight:300;
}

#credits a {
	-moz-transition:opacity .25s ease;
	-webkit-transition:opacity .25s ease;
	-ms-transition:opacity .25s ease;
	transition:opacity .25s ease;
	opacity:.5;
	text-decoration:none!important;
	text-decoration:underline;
}

#credits a:hover {
	opacity:1;
	text-decoration:none!important;
	text-decoration:none;
}

h1 br + br,p br + br {
	display:block;
	content:' ';
}

#text01 br + br {
	margin-top:.705rem;
}

#text01 {
color: #FFF;
font-family: 'Ubuntu', sans-serif;
position: relative;
letter-spacing: .475rem;
right: -.475rem;
font-size: 4.875em;
line-height: 0.55;
font-weight: 400;
letter-spacing: 1;
text-shadow: 2px 2px black;

}

		#text01 span{

		font-weight: 100;
	}

#text02 br + br {
	margin-top:1.005rem;
}

#text02 {
color: #c6baa7;
font-family: 'Copperplate Gothic Bold';
position: relative;
letter-spacing: .05rem;
right: -.05rem;
font-size: 2em;
line-height: 1.675;
font-weight: 300;
}


#text03{
color: red;
font-family: 'Copperplate Gothic Bold';
position: relative;
letter-spacing: .05rem;
right: -.05rem;
font-size: 1.5em;
line-height: 1.675;
font-weight: 300;
}
#text04{
color: red;
font-family: 'Copperplate Gothic Bold';
position: relative;
letter-spacing: .05rem;
right: -.05rem;
font-size: 1.2em;
line-height: 1.675;
font-weight: 300;
}


#credits br + br {
	margin-top:1.005rem;
}

.icons {
	cursor:default;
	padding:0;
	letter-spacing:0;
}

.icons li {
	display:inline-block;
	vertical-align:middle;
}

.icons li a {
	display:block;
	color:inherit;
	text-decoration:none;
	text-align:center;
	letter-spacing:0;
}

.icons li a .label {
	display:none;
}

#icons01 {
	font-size:1.125em;
}

#icons01 li {
	margin:.75rem 0 .75rem 1.5rem;
}

#icons01 li:first-child {
	margin-left:0;
}

#icons01 li a {
	border-radius:.25rem;
	width:2em;
	height:2em;
	line-height:2em;
}

#icons01 .n01 {
	background-color:#48A3B0;
	color:#FFF;
}

#icons01 .n01:hover {
	background-color:#4ABECF;
}

#icons01 .n02 {
	background-color:#294F99;
	color:#FFF;
}

#icons01 .n02:hover {
	background-color:#295DC2;
}

#icons01 .n03 {
	background-color:#4067A3;
	color:#FFF;
}

#icons01 .n03:hover {
	background-color:#4075C7;
}

#icons01 .n04 {
	background-color:#A84AA5;
	color:#FFF;
}

#icons01 .n04:hover {
	background-color:#CC4EC8;
}

#icons01 .n05 {
	background-color:#596B75;
	color:#FFF;
}

#icons01 .n05:hover {
	background-color:#6B8A9C;
}

@media (max-width: 1680px) {
	html {
		font-size:13pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size:13pt;
	}
}

@media (max-width: 980px) {
	html {

	}
}

@media (max-width: 736px) {
	html {

	}

	#main > .inner {
		padding:3rem 2rem;
	}

	#text01 {

	}
}
@media (max-width: 736px) {
	html {

	}

	#main > .inner {
		padding:3rem 2rem;
	}

	#text01 {

	}
}
@media (max-width: 568px) {

	#text01{
	 font-size: 2em !important;
		font-weight: bold;
	}
		#text01 span{

		font-weight: normal !important;
	}

	#text02{

		 font-size: 1em !important;
	}
	a.mobile{
		 font-size: 1.4em !important;

	}


}