.modal.alert{

    position: absolute !important;
    top: 0px !important;
    display: block !important;
    left: 0px !important;
    background-color: rgba(10,10,10,0.2);
    color: white !important;
    z-index: 9999999999 !important;
    visibility: visible;
    opacity: 1;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    padding-top: 20%;
}
.modal.alert.disabled{
    display: none;
}