<footer>
    <div class="container-fluid">
        <!--<nav class="pull-left">-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--Home-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--Company-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                        <!--Portfolio-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#">-->
                       <!--Blog-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</nav>-->
        <!--<p class="copyright pull-right">-->
            <!--&lt;!&ndash;&copy; {{test | date: 'yyyy'}} <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web&ndash;&gt;-->
        <!--</p>-->
    </div>
</footer>
