<div class="logo">
    <a href="http://md-pro-angular2.creative-tim.com/widgets" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        TransferLines
    </a>
</div>
<div class="sidebar-wrapper">

    <div class="user">
        <div class="photo">
            <img src="{{currentUser.image}}"/>
        </div>
        <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        <span>
                            {{currentUser.firstName + " " + currentUser.lastName}}
                            <b class="caret"></b>
                        </span>
            </a>
            <div class="collapse" id="collapseExample">
                <ul class="nav">
                    <li>
                        <a routerLink="/app/dashboard/user-profile">
                            <!--<span class="sidebar-mini">E-profil</span>-->
                            <span class="sidebar-normal">Edycja profilu</span>
                        </a>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="!isMobileMenu()">
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group form-search is-empty">
                <input class="form-control" placeholder="Search" type="text">
                <span class="material-input"></span>
                <span class="material-input"></span>
            </div>
            <button class="btn btn-white btn-round btn-just-icon" type="submit">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
            </button>
        </form>
        <ul class="nav nav-mobile-menu">
            <li class="">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#pablo" aria-expanded="false">
                    <i class="material-icons">dashboard</i>
                    <p class="hidden-lg hidden-md">Dashboard</p>
                    <div class="ripple-container"></div>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="material-icons">notifications</i>
                    <span class="notification">5</span>
                    <p class="hidden-lg hidden-md">
                        Notifications
                        <b class="caret"></b>
                    </p>
                    <div class="ripple-container"></div>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#">Mike John responded to your email</a>
                    </li>
                    <li>
                        <a href="#">You have 5 new tasks</a>
                    </li>
                    <li>
                        <a href="#">You're now friend with Andrew</a>
                    </li>

                </ul>
            </li>
            <li class="">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#pablo" aria-expanded="false">
                    <i class="material-icons">person</i>
                    <p class="hidden-lg hidden-md">Profile</p>
                    <div class="ripple-container"></div>
                </a>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
        </ul>
    </div>
    <div class="nav-container">
        <ul class="nav">
            <li routerLinkActive="active">
                <!--<a  [routerLink]="[menuItems[0].path]">-->
                <!--<i class="{{menuItems[0].icon}}">dashboard</i>-->
                <!--<p>{{menuItems[0].title}}</p>-->
                <!--</a>-->
            </li>

            <!--ZAMÓWIENIA-->
            <li routerLinkActive="active">
                <a data-toggle="collapse" href="#formsExamples">
                    <i class="material-icons">content_paste</i>
                    <p>Zamówienia
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="formsExamples">
                    <ul class="nav">
                        <li routerLinkActive="active">
                            <a [routerLink]="['/app/dashboard/zamowienia/aktywne']">
                                <!--<span class="sidebar-mini">RF</span>-->
                                <span class="sidebar-normal">Aktywne</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a [routerLink]="['/app/dashboard/zamowienia/wygasle']">
                                <!--<span class="sidebar-mini">RF</span>-->
                                <span class="sidebar-normal">Wygasłe</span>
                            </a>
                        </li>
                      <li routerLinkActive="active">
                        <a [routerLink]="['/app/dashboard/zamowienia/add']">
                          <!--<span class="sidebar-mini">RF</span>-->
                          <span class="sidebar-normal">Dodaj</span>
                        </a>
                      </li>

                    </ul>
                </div>
            </li>

            <!--UŻYTKOWNICY-->
            <li routerLinkActive="active">
                <a data-toggle="collapse" href="#tablesExamples">
                    <i class="material-icons">person</i>
                    <p>Uzytkownicy
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="tablesExamples">
                    <ul class="nav">
                        <li routerLinkActive="active">
                            <a  [routerLink]="['/app/dashboard/users/list']">
                                <!--<span class="sidebar-mini">RF</span>-->
                                <span class="sidebar-normal">Lista</span>
                            </a>
                        </li>
                        <li routerLinkActive="active">
                            <a  [routerLink]="['/app/dashboard/users/add']">
                                <!--<span class="sidebar-mini">RF</span>-->
                                <span class="sidebar-normal">Dodaj</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>

            <!--CZYNNOSCI-->
            <li routerLinkActive="active">
                <a data-toggle="collapse" href="#componentsExamples">
                    <i class="material-icons">apps</i>
                    <p>Czynności
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="componentsExamples">
                    <ul class="nav">

                        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                            <a [routerLink]="'/'+[menuItem.path]">
                                <i class="material-icons">{{menuItem.icon}}</i>
                                <p>{{menuItem.title}}</p>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>




            <li routerLinkActive="active">
                <a data-toggle="collapse" href="#mapsExamples">
                    <i class="material-icons">place</i>
                    <p>Maps
                        <b class="caret"></b>
                    </p>
                </a>
                <div class="collapse" id="mapsExamples">
                    <ul class="nav">
                        <li routerLinkActive="active">
                            <!--<a  [routerLink]="[menuItems[17].path]">-->
                            <!--<span class="sidebar-mini">GM</span>-->
                            <!--<span class="sidebar-normal">{{menuItems[17].title}}</span>-->
                            <!--</a>-->
                        </li>
                        <li routerLinkActive="active">
                            <!--<a  [routerLink]="[menuItems[18].path]">-->
                            <!--<span class="sidebar-mini">FSM</span>-->
                            <!--<span class="sidebar-normal">{{menuItems[18].title}}</span>-->
                            <!--</a>-->
                        </li>
                        <li routerLinkActive="active">
                            <!--<a  [routerLink]="[menuItems[19].path]">-->
                            <!--<span class="sidebar-mini">VM</span>-->
                            <!--<span class="sidebar-normal">{{menuItems[19].title}}</span>-->
                            <!--</a>-->
                        </li>
                    </ul>
                </div>
            </li>

            <li routerLinkActive="active">
                <!--<a  [routerLink]="[menuItems[20].path]">-->
                <!--<i class="{{menuItems[20].icon}}">widgets</i>-->

                <!--<p>{{menuItems[20].title}}</p>-->
                <!--</a>-->
            </li>

            <li routerLinkActive="active">
                <!--<a  [routerLink]="[menuItems[21].path]">-->
                <!--<i class="{{menuItems[21].icon}}">timeline</i>-->

                <!--<p>{{menuItems[21].title}}</p>-->
                <!--</a>-->
            </li>
            <li routerLinkActive="active">
                <!--<a  [routerLink]="[menuItems[22].path]">-->
                <!--<i class="{{menuItems[22].icon}}">date_range</i>-->

                <!--<p>{{menuItems[22].title}}</p>-->
                <!--</a>-->
            </li>


        </ul>
    </div>

</div>
<!--<div class="sidebar-wrapper">-->
<!--<form class="navbar-form navbar-right" role="search" *ngIf="isMobileMenu()">-->
<!--<div class="form-group form-black is-empty">-->
<!--<input type="text" class="form-control" placeholder="Search">-->
<!--<span class="material-input"></span>-->
<!--</div>-->
<!--<button type="submit" class="btn btn-white btn-round btn-just-icon">-->
<!--<i class="material-icons">search</i><div class="ripple-container"></div>-->
<!--</button>-->
<!--</form>-->

<!--<ul class="nav nav-mobile-menu" *ngIf="isMobileMenu()">-->
<!--<li>-->
<!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
<!--<i class="material-icons">dashboard</i>-->
<!--<p class="hidden-lg hidden-md">Dashboard</p>-->
<!--</a>-->
<!--</li>-->
<!--<li class="dropdown">-->
<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
<!--<i class="material-icons">notifications</i>-->
<!--<span class="notification">5</span>-->
<!--<p class="hidden-lg hidden-md">Notifications</p>-->
<!--</a>-->
<!--<ul class="dropdown-menu">-->
<!--<li><a href="#">Mike John responded to your email</a></li>-->
<!--<li><a href="#">You have 5 new tasks</a></li>-->
<!--<li><a href="#">You're now friend with Andrew</a></li>-->
<!--<li><a href="#">Another Notification</a></li>-->
<!--<li><a href="#">Another One</a></li>-->
<!--</ul>-->
<!--</li>-->
<!--<li>-->
<!--<a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">-->
<!--<i class="material-icons">person</i>-->
<!--<p class="hidden-lg hidden-md">Profile</p>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->

<!--<div class="nav-container">-->


<!--<ul class="nav">-->


<!--<li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">-->
<!--<a  [routerLink]="'/'+[menuItem.path]">-->
<!--<i class="material-icons">{{menuItem.icon}}</i>-->
<!--<p>{{menuItem.title}}</p>-->
<!--</a>-->
<!--</li>-->

<!--<li>-->

<!--<a href="file:///Users/tosh/Downloads/materialkitpro-121/material-kit-pro-html-v1.2.1/index.html#pablo" target="_blank">Template dokumentacja</a>-->

<!--</li>-->

<!--</ul>-->
<!--</div>-->
<!--</div>-->
