
<div class="container">
    <div class="row">
        <div class="col-md-5 col-centered">




                <form novalidate>
                    <fieldset>

                        <div *ngIf="hotelVisible == true">
                            <img class="img-responsive" src="../../../../assets/img/fly_direction_in.png"/>
                        </div>
                        <div *ngIf="hotelVisible == false">
                            <img class="img-responsive" src="../../../../assets/img/fly_direction_out.png"/>
                        </div>


                        <div class="form-group">
                            <label>Wybierz kierunek</label>

                            <select name="direction" class="form-control" #t (change)="selectDirection(t.value)"
                                    required>

                                <option *ngFor="let opis of directionOpis" [value]="opis.id">{{opis.name}}</option>
                            </select>

                        </div>

                        <div *ngIf="hotelVisible == false">

                            <div class="form-group">
                                <label>Wybierz hotel</label>

                                <select name="hotel" class="form-control">

                                    <option *ngFor="let hotel of listaHoteli" [value]="hotel.id">{{hotel.name}}</option>
                                </select>

                            </div>


                        </div>

                        <div *ngIf="hotelVisible == true">

                            <div class="form-group">
                                <label>Lotnisko</label>

                                <select name="lotnisko" class="form-control">

                                    <option *ngFor="let lotnisko of lotniska" [value]="lotnisko._id">{{lotnisko.name}}
                                    </option>
                                </select>

                            </div>


                        </div>


                        <div class="form-group">
                            <label>Imię nazwisko / osoby zamawiającej</label>
                            <input name="personalInfo" type="text"
                                   class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label>Ilość osób</label>
                            <input name="personCount" type="number"
                                   class="form-control" step="2" min="1" max="10" required>
                        </div>


                        <div *ngIf="hotelVisible == false">

                            <div class="form-group">
                                <label>Numer lotu</label>
                                <input name="lotNumber" type="number"
                                       class="form-control" required
                                       value="AAC26670">
                            </div>

                        </div>


                    </fieldset>

                    <a class="btn btn-success pull-left" href="/app/dashboard"> Wróc</a>

                    <button type="button" class="btn btn-danger pull-right" (click)="addOrder(myForm.value)">Wyślij</button>



                    <!--<app-show-errors></app-show-errors>-->
                    <!--<div class="form-group">-->
                    <!--<label>Email</label>-->
                    <!--<input type="email"-->
                    <!--class="form-control">-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                    <!--<label>Password</label>-->
                    <!--<input type="password"-->
                    <!--class="form-control">-->
                    <!--</div>-->

                    <!--<div class="form-group">-->
                    <!--<label>Language</label>-->
                    <!--<select class="form-control">-->
                    <!--<option value="">Please select a language</option>-->
                    <!--</select>-->
                    <!--</div>-->
                </form>



        </div>
    </div>
</div>
