<br><br><br><br>


<div class="container">

    <div class="row">

        <div *ngIf="!hotele" class="alert alert-danger">
            <span><b> Błąd - </b>Brak połączenia z serverem. Odświerz stronę. Być może to chwilowy problem z połączeniem</span>
        </div>

        <div class="hotele" *ngFor="let hotel of hotele">


            <div class="col-md-3">
                <div class="card card-pricing card-raised">
                    <div class="card-content">
                        <div class="background"
                             [style.background-image]="'url(' + hotel.image + ')'"
                        >
                            <h6 class="category">{{hotel.name}}</h6>
                            <div class="icon icon-rose">


                                <i class="material-icons">business</i>
                            </div>

                        </div>


                        <a class="btn btn-rose btn-round" (click)="showHotelWizzard(hotel._id)">Edycja</a>

                        <a
                                class="btn-sm btn-default"
                                mwlConfirmationPopover
                                [title]="title"
                                popoverMessage="Usunąć recepcję ? {{hotel.name}}?"
                                placement="left"
                                confirmText="Tak"
                                cancelText="Nie"
                                (confirm)="delHotel(hotel._id,this)"
                                (cancel)="alert = 'anulowano'">
                            Usuń
                        </a>

                    </div>
                </div>
            </div>


        </div>

        <div class="overflow {{wizard}}">
            <div class="col-sm-8 col-sm-offset-2">

                <div class="wizard-container">
                    <div class="card wizard-card" data-color="rose" id="wizardProfile">
                        <div *ngIf="HotelInfo[0]">
                            <form novalidate="novalidate" #userForm="ngForm"
                                  (ngSubmit)="zapiszHotelInfo(userForm.form)">

                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                        {{HotelInfo[0].name}}
                                    </h3>

                                </div>
                                <div class="wizard-navigation">
                                    <ul class="nav nav-pills">
                                        <li style="width: 33.3333%;" class="active">
                                            <a data-toggle="tab" href="#podstawowe">Podstawowe</a>
                                        </li>
                                        <li style="width: 33.3333%;">
                                            <a data-toggle="tab" href="#users">Recepcja</a>
                                        </li>
                                        <li style="width: 33.3333%;">
                                            <a data-toggle="tab" href="#zamowienia">Zamówienia</a>
                                        </li>
                                    </ul>
                                    <!--<div class="moving-tab" style="width: 203.333px; transform: translate3d(-8px, 0px, 0px); transition: transform 0s;">About</div>-->
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane active" id="podstawowe">
                                        <div class="row">
                                            <h4 class="info-text"></h4>
                                            <input type="hidden"

                                                   name="_id"
                                                   class="form-control"
                                                   ngModel="{{HotelInfo[0]._id}}"

                                            >

                                            <div class="col-sm-4 col-sm-offset-1">
                                                <div class="picture-container">
                                                    <div class="picture">
                                                        <input id="wizard-picture" type="file"
                                                               name="image"
                                                               class="form-control"
                                                               (change)="handleFileInput($event.target.files, HotelInfo[0]._id)"
                                                        >
                                                        <img class="picture-src" id="wizardPicturePreview"
                                                             src="{{HotelInfo[0].image}}">

                                                    </div>
                                                    <h6>Wybierz obrazek</h6>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">rate_review</i>
                                            </span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Nazwa
                                                            <small>[wymagana]</small>
                                                        </label>
                                                        <input class="form-control error" name="name" type="text"
                                                               aria-required="true" style="cursor: auto;"
                                                               name="name"
                                                               class="form-control"
                                                               required
                                                               ngModel="{{HotelInfo[0].name}}"

                                                        >
                                                        <span class="material-input"></span></div>
                                                </div>
                                                <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="material-icons">edit_location</i>
                                            </span>
                                                    <div class="form-group label-floating ">
                                                        <label class="control-label">Lokalizacja
                                                            <small>[wymagana]</small>
                                                        </label>
                                                        <input class="form-control error" name="localisation"
                                                               type="text"
                                                               aria-required="true"
                                                               name="location"
                                                               class="form-control"
                                                               required
                                                               ngModel="{{HotelInfo[0].location}}"
                                                        >
                                                        <span class="material-input"></span></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane userListHotel" id="users">

                                        <div class="row">
                                            <div class="col-lg-10 col-lg-offset-1">

                                                <div *ngIf="hotelUsers">
                                                    <div *ngFor="let user of hotelUsers">


                                                        <div class="col-sm-12">

                                                            <div class="picture pull-left picture_">
                                                                <img class="picture-src wizardPicturePreview"
                                                                     src="{{user.image}}">

                                                            </div>
                                                            <div class="narzedzia">
                                                                narzedzia

                                                            </div>

                                                        </div>
                                                        <hr>


                                                    </div>
                                                </div>

                                            </div>


                                        </div>
                                    </div>
                                    <div class="tab-pane" id="zamowienia">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="info-text"> Are you living in a nice area? </h4>
                                            </div>
                                            <div class="col-sm-7 col-sm-offset-1">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">Street Name</label>
                                                    <input class="form-control" type="text">
                                                    <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">Street No.</label>
                                                    <input class="form-control" type="text">
                                                    <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">City</label>
                                                    <input class="form-control" type="text">
                                                    <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-sm-5">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">Country</label>
                                                    <select class="form-control" name="country">
                                                        <option disabled="" selected=""></option>
                                                        <option value="Afghanistan"> Afghanistan</option>
                                                        <option value="Albania"> Albania</option>
                                                        <option value="Algeria"> Algeria</option>
                                                        <option value="American Samoa"> American Samoa</option>
                                                        <option value="Andorra"> Andorra</option>
                                                        <option value="Angola"> Angola</option>
                                                        <option value="Anguilla"> Anguilla</option>
                                                        <option value="Antarctica"> Antarctica</option>
                                                        <option value="...">...</option>
                                                    </select>
                                                    <span class="material-input"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input class="btn btn-previous btn-fill btn-default btn-wd " name="previous"
                                               type="submit" value="Zapisz">
                                    </div>
                                    <div class="pull-left">

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>

            </div>
        </div>
        <hr>


        <!--<div class="col-md-6">-->

        <!--<div class="card card-blog">-->
        <!--<div class="card-image">-->
        <!--<a href="#pablo">-->
        <!--<img class="img" src="assets/img/lwowska1.jpg">-->
        <!--<div class="card-title">-->
        <!--<h4>Lwowska 1</h4>-->
        <!--</div>-->
        <!--</a>-->
        <!--<div class="colored-shadow" style="background-image: url('assets/img/lwowska1.jpg'); opacity: 1;"></div><div class="ripple-container"></div></div>-->
        <!--</div>-->

        <!--<div class="card">-->
        <!--<div class="card-header card-header-tabs" data-background-color="purple">-->
        <!--<div class="nav-tabs-navigation">-->
        <!--<div class="nav-tabs-wrapper">-->

        <!--<ul class="nav nav-tabs" data-tabs="tabs">-->
        <!--<li class="active">-->
        <!--<a href="#profile" data-toggle="tab">-->
        <!--<i class="material-icons">bug_report</i>-->
        <!--First-->
        <!--<div class="ripple-container"></div></a>-->
        <!--</li>-->
        <!--<li class="">-->
        <!--<a href="#messages" data-toggle="tab">-->
        <!--<i class="material-icons">code</i>-->
        <!--Second-->
        <!--<div class="ripple-container"></div></a>-->
        <!--</li>-->
        <!--<li class="">-->
        <!--<a href="#settings" data-toggle="tab">-->
        <!--<i class="material-icons">cloud</i>-->
        <!--Third-->
        <!--<div class="ripple-container"></div></a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--<div class="card-content">-->
        <!--<div class="tab-content">-->
        <!--<div class="tab-pane active" id="profile">-->


        <!--<button class="btn btn-info">ok</button>-->


        <!--</div>-->
        <!--<div class="tab-pane" id="messages">-->
        <!--Second Tab-->
        <!--</div>-->
        <!--<div class="tab-pane" id="settings">-->
        <!--Third Tab-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <!--</div>-->


        <!--</div>-->


    </div>

</div>
