.card-content .background {

    width: 100%;
    left: 0px;
    background-size: cover;

}

.icon-rose{

}
.card .card-content {

}
.overflow.visible{
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(250,250,250,0.7);
     top: 0px;


}
.userListHotel .picture_ input[type="file"]{

    width:20% !important;
}
.userListHotel .picture{



}
 .overflow.hidden{
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(250,250,250,0.7);
      top: 0px;
      display: none;
      transition: transform 0.4s;
 }

 .nav-pills li.active{
      animation-direction:alternate;
border-radius: 4px;
      background-color: #e91e63;
      -webkit-box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
      box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4);
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.04) !important;
      margin: 0px;
      width: 203.333px;
      transform: translate3d(-8px, 0px, 0px);
      transition: transform 0.4s;
 }
 .nav-pills li.active a{
      color: white !important;
     font-weight: bold;
 }
